{
    "libclang_path": "C:/Users/zys15/zys/Scoop/apps/llvm/current/lib/",
    "sdl2_include_path": "./sdl2/include",
    "sdl2_lib_path": "./sdl2/build/Release",
    "vulkan_extern_path": "C:/Users/zys15/zys/Scoop/apps/vulkan/current/Include/vulkan/",
    "vulkan_include_path": "C:/Users/zys15/zys/Scoop/apps/vulkan/current/Include/",
    "vulkan_lib_path": "C:/Users/zys15/zys/Scoop/apps/vulkan/current/Lib/",
    "imgui_include_path": "./lib/imgui/include",
    "imgui_lib_path": "./lib/imgui/build/windows/x64/release"
}